.landing_hero_page {
    width: 100%;
    height: 100%;
    background: inherit;
    min-height: 820px;
    max-height: 820px;
}

.landing_elevate_page {
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    min-height: 820px;
    max-height: 820px;
}

.elevate_knowledge {
    width: 46rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.elevate_knowledge_blink_caret {
    line-height: 1;
    font-size: 3.3rem;
    font-weight: 700;
    border-right: 8px solid #85f;
    border-radius: 26px;
    width: .11em;
    height: 60px;
    -webkit-animation: blink-caret .5s step-end infinite alternate;
}

.landing_connect_page {
    width: 100%;
    height: 100%;
    background-color: transparent;
    min-height: 700px;
    max-height: 700px;
}

.landing_connect_page_of_connect_component {
    position: relative;
    margin-top: 5.6rem;
    width: 1280px;
    height: 600px;
    border-radius: 2.5rem;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    overflow: hidden;
}

@media only screen and (max-width: 1133px) {
    .elevate_knowledge {
        align-items: center;
    }
}

@media only screen and (max-width: 1340px) {
    .landing_connect_page_of_connect_component {
        width: 1080px;
        height: 600px;
    }
}

@media only screen and (max-width: 1085px) {
    .landing_connect_page_of_connect_component {
        width: 860px;
        height: 600px;
    }
}

@media only screen and (max-width: 762px) {
    .landing_connect_page_of_connect_component {
        width: 600px;
        height: 600px;
    }
}


@-webkit-keyframes blink-caret { 50% { 
        border-color: transparent; 
    } 
}